.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 3em;
}

.keywords {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
}

.keywords > h3 {
    padding: 0;
    margin: 0;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.tags > li {
    list-style: none;
    padding: 0.5em 1em;
    background: rgba(196, 196, 196, 0.19);
    border-radius: 3px;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 0.8rem;
}

.tags > li:hover {
    background: rgba(196, 196, 196, 0.09);
}

.search {
    width: 25%;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
}

.search > label {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
}

.searchButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.articleSearch {
    padding: 0 !important;
}

.titleSearch {
    font-size: 0.8rem !important;
    margin: 0 !important;
    padding: 0 !important;
    color:#383838;
    text-align: left;
    padding-bottom: 1em !important;
}

.link {
    color: inherit;
}

.link:hover {
    text-decoration: underline;
    color:#383838;
}

.search > h4 {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

.search > p {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 0.8rem;
}


.social {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
}

.social > h4 {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

.social > h4:nth-child(1) {
    margin-top: 0;
}

.social > p {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 0.8rem;
}

.social > a {
    width: 35px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
    cursor:pointer;
}

.social > a > img {
    width: 35px;
}

@media (max-width:1100px) {
    .search {
        width: 35%;
    }

    .social {
        width: 40%;
    }
}

@media (max-width: 750px) {
    .footer {
        flex-direction: column;
    }

    .keywords {
        width: 100%;
    }

    .search {
        width: 100%;
        border: 0;
    }

    .search > h4 {
        margin-left: 0;
    }

    .search > p {
        margin-left: 0;
    }

    .search > label {
        margin-left: 0;
    }

    .searchButton {
        margin-left: 0;
    }

    .social {
        width: 100%;
    }

    .social > h4 {
        margin-left: 0;
    }

    .social > p {
        margin-left: 0;
    }
}

@media (max-width:300px) {
    .footer {
        padding: 0;
    }
    .keywords {
        width: 85%;
    }

    .search {
        width: 85%;
    }

    .social {
        width: 85%;
    }

    .tags > li {
        font-size: 0.6rem;
    }
}