.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
}

.hero {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2em 0 8em 0;
}

.hero h1 {
    font-size: 2.625rem;
    margin: 0;
}

.hero h1:nth-child(1) {
    margin-top: 3rem;
}

.highlight {
    color: #42BDEC;
}

.hero img {
    position: absolute;
}

.hero p {
    font-size: 1.25rem;
    line-height: 189.5%;
    color: #777777;
}

.search {
    background:  no-repeat url("./../../../public/images/news/mag_glass.png") #F1F1F1;
    background-position: 5% 50%;
    width: 70%;
    height: 49px;
    max-width: 300px;
    border: 0;
    padding: 1em 3em;
    color: #727272;
    position: relative;
    border-radius: 0.5rem;
}

.glass {
    display: block;
}

.bell {
    left: 4rem;
}

.bulb {
    top :0;
    right: 4rem;
}

.leftDecoration {
    left: -3rem;
    top: 2rem;
}

.rightDecoration {
    right: 3rem;
    bottom: 1rem;
}

/* --------------------------------------- NEWS SECTION  ---------------------------------------*/

.news {
    text-align: center;
}

.lastNews {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.newsImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsImage img {
    width: 80%;
}

.newsDetails {
    width: 50%;
    box-sizing: border-box;
    padding: 0em 3em;
}

.newsDetails h1 {
    font-size: 1.6875rem;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    margin: 0;
}

.newsDetails p {
    line-height: 210.9%;
    letter-spacing: 0.01em;
    color: #424242;
    text-align: justify;
}

.pastNews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsSection {
    width: 300px;
    margin: 2.5rem;
}

.newsSection img {
    width: 100%;
}

.newsSection p {
    line-height: 210.9%;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    color: #383838;
    margin: 0;
    text-align: justify;
    margin-bottom: 1rem;
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar img {
    display: block;
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.avatarDetails p:nth-child(1) {
    color:#000000;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 210.9%;
    letter-spacing: 0.01em;
    margin: 0;
}

.avatarDetails p:nth-child(2) {
    line-height: 210.9%;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    color: #7B7B7B;
    margin: 0;
}

@media (max-width: 1100px) {
    .rightDecoration {
        display: none;
    }
}

@media (max-width: 900px) {
    .bulb, .bell, .leftDecoration {
        display: none;
    }

    .hero {
        padding-bottom: 5rem;
    }

    .lastNews {
        flex-direction: column;
        align-items: center;
    }

    .newsImage {
        width: 80%;
        margin-bottom: 2rem;
    }

    .newsDetails {
        width: 65%;
        padding: 0;
    }
}

@media (max-width: 650px) {
    .newsImage {
        width: 90%;
    }
    .newsDetails {
        width: 100%;
        text-align: center;
        padding: 2em;
    }

    .newsDetails h1 {
        width: 85%;
        margin: 1rem auto;
    }

    .newsDetails p {
        width: 85%;
        margin: 1rem auto;
    }

    .newsSection {
        width: 300px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 500px) {
    .hero input {
        width: 85%;
    }
}

@media (max-width: 320px) {
    .newsDetails {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .newsSection {
        width: 100%;
        margin: 2.5rem 0;
    }
}

@media (max-width: 300px) {
    .hero h1{
        font-size: 2rem;
    }

    .hero input {
        width: 100%;
    }

    .search {
        padding: 1em 1em 1em 2em;
    }

    .newsDetails h1 {
        font-size: 1.3rem;
    }
}