.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFFFF;
    color:#000000;
}

.form {
    width: 50%;
    box-sizing: border-box;
    padding-left: 3em;
    padding-right: 3em;
}

.form h1 {
    font-size: 2rem;
    padding-top: 0;
}

.form h1 span {
    color: #42BDEC;
}

.form ul {
    list-style: none;
    padding-left: 0;
}

.form ul li {
    display: flex;
    flex-direction: column;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-weight: 500;
}

.form ul li label {
    padding-bottom: 0.5em;
}

.form ul li input {
    padding: 1em;
}

.form ul li textarea {
    padding: 1em;
    resize: none;
}

.button {
    width:150px;
    margin-left: auto;
    margin-right: 0;
}

.button input {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #183643;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.button input:hover {
    background-color: #315e72;
}

.details {
    width: 50%;
    background: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.backgroundContact {
    position: absolute;
    filter: opacity(50%);
    width: 100%;
    top: -20px;
}

.direction {
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
}

.direction > h1 {
    margin-left: 50px;
    margin-bottom: 0;
    color:#FFFFFF;
    font-size: 1.2rem;
    z-index: 1;
}

.direction > h1::before {
    content:url('./../../../public/images/contact/ball.png');
    vertical-align: top;
}

.direction > p {
    display: flex;
    margin-left: 50px;
    margin-bottom: 3rem;
    color: rgb(226, 225, 225);
    z-index: 1;
    margin-top: 0;
    margin-bottom: 1rem;
}

.details  div {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #FFFFFF;
    height: 100px;
    z-index: 1;
}

.details div > p {
    height: 100%;
    flex-grow: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    color: white;
    z-index: 1;
}

.details div > p:nth-child(3) {
    border-right: 0;
}

.formExit {
    width: 50%;
    box-sizing: border-box;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
}

.formExit > p {
    text-align: center;
    padding-top: 7em;
    padding-bottom: 7em;
}

@media (max-width: 1250px) {
    .backgroundContact {
        top: 0px;
    }
}

@media (max-width:1140px) {
    .direction { 
        display: none;
    }

    .form {
        width: 100%;
    }

    .formExit {
        width: 100%;
    }

    .details {
        width: 100%;
    }

    .contact {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .details {
        height: 300px;
        flex-direction: column;
    }

    .details div {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details div p {
        display: block;
        padding: 2em;
        border: 0;
    }
}

@media (max-width: 250px) {
    .details {
        height: 220px;
    }
    .details div p {
        padding: 0.5em;
    }
}

